{% extends "website/base.html" %}
{% block contents %}

<div class="section"></div>
<main>
  <center>
    
    <div class="section"></div>
    {% if invalid %}
    <h5 class="red-text">Invalid Code. Please try again.</h5>
    {% endif %}
    <h5 class="indigo-text">Please Check Your Email. A  code was sent!</h5>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="col s12" method="post" action="">
            {% csrf_token %}
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input name='verifynum' id='verifynum' />
              <label for='verifynum'>Verifcation Code: </label>
            </div>
          </div>

          <br />
          <center>
            <div class='row'>
              <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Verify</button>
            </div>
          </center>
        </form>
      </div>
    </div>
    
  </center>

  <div class="section"></div>
  <div class="section"></div>
</main>

{% endblock %}


